@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

 body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.pokemon-list {
  list-style-type: none;
  padding: 10px;
  background: lightgrey;
}

.pokemon-list li {
  background: #4a420b;
  margin: 15px;
  padding: 15px;
  text-align: left;
}

button {
  font-size: 24px;
}
